	body {
	height: 881px;
	background: url('images/background.png');/*фоновое изображение*/
	font-family: 'pf_agora_sans_problack'; /*Подключаемый шрифт*/
	}
#container{
  width: 1000px;/*ширина блока*/
  margin: 72px auto; /*отступ*/
  text-align: center; /*Выравнивание текст*/
}
.item{
	text-align: center;
	width: 225px;/*ширина блока*/
	display: inline-block;/*определяет как документ должен отображатся в элементе:обтекается другими элементами веб-страницы подобно встроенному элементу*/
	vertical-align: top; /*Выравнивает элемент по вертикали относительно своего родителя:Вверху*/
	margin: 10px 4px;/*отступ*/
	position: relative;/*способ позыцыонирования в окне браузера:относительно исходного положения*/
}
.image-box{
	height: 225px;/*Высота блока изображения*/
	overflow: hidden;/*отображение содержания блочного элемента:*/
	border-radius: 10px 10px 0 0;/*Закругление углов*/
	background-color: #fff;/*цвет фона*/
}
.item::after {
	content: "";/*Добавляет*/
	position:absolute;/*способ позицыонирования в окне браузера:абсолютная позиция*/
	left: 50%;
	bottom:0;
	margin-left: -110px;
	width: 215px;
	height:100px;
  background: #e0e0e0;
	border: solid 0px #fff;
	border-radius:25em/5em;/*суругление углов*/
	box-shadow: 1px 5px 10px 2px rgba(0,0,0, 0.1);
 	z-index: 1;
}
.item-inner {
		position: relative;
		z-index: 2;
}
.item img{
	width: 100%;
	vertical-align:bottom;
	border: 0px solid black;
	border-bottom: 0;
	border-radius: 10px 10px 0 0;
}
.footer{
	background: #f1f6f2;
	padding: 10px 30px 5px;
	border: 0px solid black;
	border-top: 0px solid black;
	border-radius: 0 0 10px 10px;
	position: relative;
}
.name{
	display: block;
	height: 70px;/*Высота футера*/
	overflow: hidden; /* Обрезаем все, что не помещается в область */
	font-family:'robotoregular';
	font-size: 18px;
	line-height: 1.3; /*Межстрочный интервал*/
	color: #000080;
}
.price{
	font-family:'pf_agora_sans_problack';
	font-size: 22px;
}
.currency{
	font-family:'pf_agora_sans_problack';
	font-size: 14px;
}
