	body {
	background: url('images/background.png');
	font-family: 'robotoregular';
}
#container{
  width: 960px;
  margin: 0 auto;
  text-align: center;
}
.item{
	width: 225px;
	display: inline-block;
	/*height: 445px;*/
	margin: 10px 4px;
	position: relative;
}
.item::after {
	content: "";
	position:absolute;
	left: 50%;
	bottom:0;
	margin-left: -110px;
	width: 215px;
	height:100px;
  background: #e0e0e0;
	border: solid 0px #fff;
	border-radius:25em/5em;
	box-shadow: 0px 5px 10px 2px rgba(0,0,0, 0.1);
 	z-index: 1;
}
	.item-inner {
		position: relative;
		z-index: 2;
}
.item img{
	width: 100%;
	vertical-align:bottom;
	border: 0px solid black;
	border-bottom: 0;
	border-radius: 10px 10px 0 0;
}
.footer{
	background: #f1f6f2;
	padding: 10px;
	border: 0px solid black;
	border-top: 0px solid black;
	border-radius: 0 0 10px 10px;
	position: relative;
}
.name{
	/*font-family: 'robotoregular';*/
	font-size: 18px;
	height: 40px;
	display: block;
	color: 	#000080;
	width: 205px; /* Ширина */
	overflow: hidden; /* Обрезаем все, что не помещается в область */
	line-height: 21pt; /*Межстрочный интервал*/
	/*white-space: nowrap;/* /* Запрещаем перенос строк */
	text-overflow: ellipsis; /* многоточие */
}
.price{
	/*font-family: 'pf_agora_sans_problack';*/
	font-size: 22px;
}
.currency{
	/*font-family: 'pf_agora_sans_problack';*/
	font-size: 14px;
}
