

}

body {
	/*font-family:arial;*/
	background: url('images/background.png');
	}
#container{
  width: 960px;
  margin: 0 auto;
  text-align: center;
}
.item{
  display: inline-block;
	margin: 10px 4px;
	position: relative;
}
.item::after {
	content: "";
	position:absolute;
	left: 50%;
	bottom:0;
	margin-left: -110px;
	width: 215px;
	height:100px;
  background: #e0e0e0;
	border: solid 0px #fff;
	border-radius:25em/5em;
	box-shadow: 0px 5px 10px 2px rgba(0,0,0, 0.1);
 	z-index: 1;
}
.item-inner {
position: relative;
z-index: 2;
}
.item img{
vertical-align:bottom;
border: 0px solid black;
border-bottom: 0;
border-radius: 15px 15px 0 0;
}
.footer{
background: #f1f6f2;
padding: 10px;
border: 0px solid black;
border-top: 0px solid black;
border-radius: 0 0 15px 15px;
position: relative;
/*z-index: 2;*/
}
.name{
	font-family: 'robotoregular';
	src: url('roboto-webfont.eot');
	src: url('roboto-webfont.eot?#iefix') format('embedded-opentype'),
			 url('roboto-webfont.woff2') format('woff2'),
			 url('roboto-webfont.woff') format('woff'),
			 url('roboto-webfont.ttf') format('truetype'),
			 url('roboto-webfont.svg#robotoregular') format('svg');
	font-weight: normal;
	font-style: normal;
font-size: 18pt;
height: 40px;
display: block;
color: 	#000080;
width: 205px; /* Ширина */
overflow: hidden; /* Обрезаем все, что не помещается в область */
line-height: 1.20; /*Межстрочный интервал*/
white-space: nowrap; /* Запрещаем перенос строк */
text-overflow: ellipsis; /* многоточие */
}
.price{
	font-family:
	font-size: 50pt;
  font-weight:bold;
}
.currency{

  font-size: 30pt;
	/*src: url(fonts/PF Agora Sans Pro Black.ttf)*/
  font-weight:bold;
}
